VITE_SUPABASE_URL=https://klwovduevlwvoccxhbpm.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtsd292ZHVldmx3dm9jY3hoYnBtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTEzNjE0NTAsImV4cCI6MjEwNjkzNzQ1MH0.f0Mg2MS1asXUHAfic_mEHSHy8YIi7el-eVZHyblAtks
